*
!*.enc
!.git*
!*.yml
!*Makefile
!*.sublime-project
!*.md
!LICENSE
!generator
!generator/*.md
!generator/build.rs
!generator/Cargo.toml
!generator/rustfmt.toml
!generator/src
!generator/src/**
!raw
!raw/**
!rust
!rust/**
